:root {
  --primary: rgba(255, 203, 5, 1);
  --secondary: rgba(61, 125, 202, 1);
  --tertiary: rgba(0, 58, 112, 1);
  --text-primary: rgba(0, 58, 112, 1);
  --bg-color: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #b4b6bb;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Vollkorn", serif;
  background-color: #fcfbfb;
  color: var(--text-primary);
}
